//resets
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before,*::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    color: $black-color;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.cta-resets{
    font-size: $text-font;
    color: $black-color;
    text-decoration: underline;
    padding-right: 1em;
    &:hover{
        color: $primary-color;
    }
}