//typography
body,button,input{
    font-family: 'Montserrat', sans-serif;
}

//font-sizes
//considering 1rem=16px
$hero-font: 7.8125rem;//125px
$header-font: 5rem;//72px
$sub-header-font: 2.25rem;//36px
$text-font: 1.125rem;//18px
